<div id="twitter_browser" class="" style=""><div id="main">
  <div id="logo">
    <h1>Twitter Browser</h1>
  </div>
  {{view App.EnterUserNameView id="user_name" placeholder="Enter Twitter User Name"}}
</div>
